*{
  background: #111;
  color: #fff;
  font-family: "montserrat";
}
.formato{
  background: #333;
  text-align: center;
  margin: 25px;
}
.formato h1{
  color: #0984e3;
}
.etq{
  background: #333;
}
.txt{
  border: 0;
  border-radius: 8px;
  padding: 5px 1px;
  margin: 5px;
  text-align: center;
}
.txt2{
  border: 0;
  border-radius: 8px;
  width: 300px;
  padding: 5px 200px;
  margin: 5px;
  text-align: center;
}
.btn{
  border: 0px;
  border-radius: 15px;
  margin: 5px;
  padding: 7px 10px;
  cursor: pointer;
  transition: 0.5s;
  background: #34495e;
}
.btn:hover{
  background: #2980b9;
}
