*{
  background: #111;
  color: #fff;
  font-family: "montserrat";
}
.grafo{
  background: #333;
  border-color: #eb2f06;
  width: 510px;
}
.canvas{
  margin: 10px;
  background: #d1ccc0;
}
.btn{
  border: 0px;
}
.matrizAdy{
  background: #333;
  width: 30px;
  border: 0px;
  border-radius: 4px;
  text-align: center;
  margin: 5px;
}
.Matriz{
  text-align: center;
  background: #333;
}
.container{
  justify-content: center;
  text-align: center;
  display: flex;
}
.columna{
  width: 50%;
  justify-content: center;
  text-align: center;
}
.etq{
  background: #30336b;
  text-align: center;
  width: 30px;
  border: 0px;
  color: #dfe6e9;
}
.tablaMatriz{
  background: #333;
  text-align: center;
  border-color: #808e9b;
}
.td{
  background: #1e272e;
  width: 15px;
}
