*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.Ejercicio-seccion{
  background: url(bg2.png) no-repeat center;
  background-size: cover;
  padding: 40px 0;
}
.Ejercicio-seccion h1{
  text-align: center;
  color: #ddd;
}
.Ejercicio-seccion h3{
  color: #FF0000;
}
.Ejercicio-seccion h4{
  color: #ddd;
}
.formEjer{
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.border{
  width: 100px;
  height: 10px;
  background: #111;
  margin: 40px auto;
}
.col{
  flex: 33%;
  padding: 5px;
  max-width: 600px;
  box-sizing: border-box;
}

.formulario{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}
.etq{
  text-align: center;
  color: #ddd;
  font-size: 14px;
}

.form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}

.form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.form-btn:hover{
  background: #2980b9;
}
